body,
button,
input,
select {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #e8e8f2;
  font-size: 1em;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 9em;
}

nav {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 1em 2em 1.5em;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
}

button {
  background: transparent;
  outline: 0;
  border:none;
  padding: 0;
  cursor: pointer;
  white-space: nowrap;
}

a,
a:visited,
a:hover {
  color: #7389d8;
}

h1 {
  color: #5B6FB4;
  text-transform: uppercase;
}

p {
  color: #999A9E;
}

button:disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}

hr {
  border: 1px solid #D2D0D1;
}

hr[reverse] {
  height: 100%;
}

.user-card {
  padding: 2em;
}

.tile {
  padding: 1em 2em;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 0.5em;
}

.btn,
.btn-cancel {
  border-radius: 16px;
  padding: 4px 16px;
  background: #4979bb;
  color: #fff;
  width: 7em;
}

.btn-cancel {
  background: #ec6060;
}

.btn-large {

}

.fl {
  display: flex;
}

.fl.ai-c {
  align-items: center;
}

.fl.jc-sb {
  justify-content: space-between;
}

.mr-l {
  margin-left: 16px;
}

.mr-r {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}

.icon-contacts:before {
  background: url(../img/contacts.svg);
}

.icon-gear:before {
  background: url(../img/gear.svg);
}

.icon-puzzle:before {
  background: url(../img/puzzle.svg);
}

.icon-file:before {
  background: url(../img/file.svg);
}

.icon-plus:before {
  background: url(../img/plus.svg);
}

.icon-menu:before {
  background: url(../img/menu.svg);
}

.icon-brain:before {
  background: url(../img/brain.svg);
}

.icon-flask:before {
  background: url(../img/flask.svg);
}

.icon-idea:before {
  background: url(../img/idea.svg);
}

[class^="icon-"]:before {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.recess {
  position: absolute;
  width: 84px;
  height: 32px;
  left: calc(50vw - 42px);
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.recess:before {
  content: '';
  display: block;
  width: 84px;
  height: 42px;
  background-color: #f9f9f9;
  box-shadow: inset 6px 0 3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 84px;
  border-bottom-right-radius: 84px;
  margin-top: -16px;
}

.nav-btn {
  display: flex;
  border-radius: 50%;
  border: none;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #089CE4, #6276E6);
  position: absolute;
  left: calc(50vw - 32px);
  top: -48px;
  z-index: 2;
}

.account {
  position: relative;
  width: 84px;
  height: 84px;
  background: url(../img/photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.account.small {
  width: 48px;
  height: 48px;
}

.account.status:before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #ED8019;
  border-radius: 50%;
  border: 2px solid #fff;
}

.icon-brain:before {
  width: 48px;
  height: 48px;
  margin-right: 1em;
}

.icon-flask:before {
  width: 48px;
  height: 48px;
  margin-right: 1em;
}

.icon-idea:before {
  width: 48px;
  height: 48px;
  margin-right: 1em;
}

.stat-text {
  color: #444;
  font-size: 1.17em;
  font-weight: bold;
  flex-grow: 1;
}

.stat-text:after {
  content: attr(desc);
  color: #999A9E;
  display: block;
  font-size: 0.5em;
}

.progress-bar {
  position: relative;
  background: linear-gradient(to right, #ED8019 0% 50%, #FEEA00 50% 75%, #5C7AEC 75% 100%);
  width: 100%;
  height: 8px;
  border-radius: 8px;
  margin-top: 12px;
}

.progress-bar:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 14px;
  background: #666;
  top: -3px;
  left: 57%;
  border-radius: 2px;
}

.card {
  margin: 1em 2em;
  padding: 1em;
  background: #fff;
  border-radius: 16px;
}

.username {
  color: #999A9E;
  margin-left: .5em;
  margin-top: .5em;
  font-size: 0.9em;
  font-weight: 600;
}